/*all*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: $container;
    width: 100%;
    margin: auto;
}
/*section*/
main {
    background-image: url("../images/fondo-pag-speciali.jpg");
    background-size: contain;
    background-repeat: repeat;
    padding: 40px 0;
    h2 {
        color: $main_color;
        text-transform: uppercase;
    }
}

footer {
    padding: 40px 0px 110px;
    background-image: url("../images/footer-montagne-bottom.jpg");
    background-position: bottom;
    background-repeat: repeat-x;
    div.container {
        display: flex;
    }
}