* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: $container;
    width: 100%;
    margin: auto;
}

main {
    background-image: url("../images/fondo-pag-speciali.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    h2 {
        color: $main_color;
        text-transform: uppercase;
        padding-top: 20px;
    }
}