.recapiti {
    .wrap {
        width: 200px;
        img {
            display: block;
            width: 100%;
        }
    }
    
    address {
        padding-top: 8px;
        font-style: normal;
        ul {
        list-style: none;
        li {
            color: $text_color;
        }
    }
    }
}