/* colori */
/* misure */
/*all*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

/*section*/
main {
  background-image: url("../images/fondo-pag-speciali.jpg");
  background-size: contain;
  background-repeat: repeat;
  padding: 40px 0;
}
main h2 {
  color: #002d73;
  text-transform: uppercase;
}

footer {
  padding: 40px 0px 110px;
  background-image: url("../images/footer-montagne-bottom.jpg");
  background-position: bottom;
  background-repeat: repeat-x;
}
footer div.container {
  display: flex;
}

header img {
  display: block;
  width: 200px;
  height: auto;
  margin: auto;
  padding: 25px 0 50px;
}

nav {
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  padding: 15px 8px;
}
nav ul a {
  color: #002d73;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 22px;
}
nav ul .active {
  background-color: #b2e5fc;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .card {
  width: calc((100% / 3) - 20px);
  margin: 10px;
}
.cards .card img {
  width: 100%;
}

.recapiti .wrap {
  width: 200px;
}
.recapiti .wrap img {
  display: block;
  width: 100%;
}
.recapiti address {
  padding-top: 8px;
  font-style: normal;
}
.recapiti address ul {
  list-style: none;
}
.recapiti address ul li {
  color: #848b98;
}

.navFoot {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 70px;
}
.navFoot .listaLinkFooter {
  width: calc(100% / 2);
}

.listaLinkFooter h3 {
  color: #848b98;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.listaLinkFooter ul {
  list-style: none;
  padding-bottom: 20px;
}
.listaLinkFooter ul li a {
  color: #848b98;
  text-decoration: none;
  line-height: 1.8;
}

main.product {
  background: #b7dae5;
  color: #002d73;
}
main.product h1 {
  text-align: center;
}
main.product img {
  width: 100%;
}
